* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f5ae;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 70%;
}

h1 {
  font-family: "Barriecito", sans-serif;
  font-size: 60px;
  margin: 20px;
  color: #2e2e21;
}

.choice-container {
  background-color: #a87e6d;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 25px;
}

.choose-text {
  font-size: 40px;
  font-weight: 700;
  color: #f6f0e6;
  padding-bottom: 25px;
}

.choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(1);
}

.choices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.player-choice-container,
.computer-choice-container {
  background-color: #a87e6d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  height: 16vw;
  width: 16vw;
}

.player-choice-container p,
.computer-choice-container p {
  color: #f6f0e6;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.player-image,
.computer-image {
  display: inline-block;
  width: 100%;
  visibility: hidden;
}

.score-container {
  color: #f6f0e6;
  font-size: 30px;
  background-color: #675344;
  width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 20px;
}

.play-again {
  background-color: #f6f0e6;
  font-size: 28px;
  border-radius: 8px;
  padding: 8px 15px;
  border: 4px solid #2e2e21;
}

.hidden {
  display: none;
}
